{% extends 'room_booking/base.html' %}

{% block content %}
<h2>Room <span>{{ room.name }}</span> </h2>
<h4>Capacity: <span>{{ room.capacity }}</span> </h4>
{% if room.projector %}
<h4>Projector: <span>Yes</span>  </h4>
{% else %}
<h4>Projector: <span>No</span>  </h4>
{% endif %}
{% if room.reserved %}
<h4>Reserved: </h4>
<ul>
    {% for reservation in room.reserved %}
    <li><span>{{ reservation|date:"d. m. Y" }}</span> </li>
    {% endfor %}
</ul>
{% endif %}
<li><a href="{% url 'room_booking:room_reserve' room.id %}">Reservation</a></li>
{% endblock %}