{% extends 'room_booking/base.html' %}

{% block content %}
<h2>Room <span>{{ room.name }}</span> </h2>
<h4>Capacity: <span>{{ room.capacity }}</span> </h4>
{% if room.projector %}
<h4>Projector: <span>Yes</span>  </h4>
{% else %}
<h4>Projector: <span>No</span>  </h4>
{% endif %}
{% if room.reserved %}
<h4>Reserved: </h4>
<ul>
    {% for reservation in room.reserved %}
    <li><span>{{ reservation|date:"d. m. Y" }}</span> </li>
    {% endfor %}
</ul>
{% else %}
<p>There's no reservation yet for this room</p>
{% endif %}
<form method="post">
    {%	csrf_token	%}
    <label>Date:
        <input type="date" name="reservation_date" {% if reservation_date %} value="{{ reservation_date }}" {% endif %}>
    </label><br>
    <label>Comment: <br>
        <textarea name="comment" id="" cols="30" rows="10"></textarea><br>
    </label>
    <input type="submit" value="reserve">
</form>
{% if err_msg %}
<p>{{ err_msg }}</p>
{% endif %}
{% endblock %}